{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">{{ current_menu[1] }}</h3>

    {#<blockquote>
        <p>Json代码进行美化、格式化、检查Json错误。 也可以进行Json代码压缩处理,提供Json Unicode转换为对应字符！！将json \uxxxx类，格式化相应的中文字符串！Json</p>
    </blockquote>#}
    <div class="well">
        将一个字符串生成验证码
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-muted">
                格式化化之后的JSON代码：
                {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
                {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
                {{ Bootstrap.button({'id':'submit'}, '生成二维码')|raw }}
            </p>
            {{  Bootstrap.textarea('origin_textarea')|raw }}
        </div>
        <div class="col-md-6">
            <p class="text-muted">
                生成的二维码：
            </p>
            <div id="qrcode"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var qrcode = null;
        $('#submit').click(function () {
            var val = $('#origin_textarea').val();
            if (val) {
                if (qrcode) {
                    qrcode.clear();
                    qrcode.makeCode(val);
                } else {
                    qrcode = new QRCode("qrcode", {
                        text: val,
                        width: 180,
                        height: 180,
                        colorDark: "#000000",
                        colorLight: "#ffffff",
                        correctLevel: QRCode.CorrectLevel.H
                    });
                }
            }
        });
    </script>
{% endblock %}