{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">{{ current_menu[1] }}</h3>
    <div class="well">
        常用正则
    </div>
    <div>
        <p class="text-muted">
            正则表达式：
            {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
            {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
        </p>
        <p>{{ Bootstrap.textarea('regex_textarea', 2, '(\w+\.){2}\w+')|raw }}</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="text-muted">
                正则测试内容：
                {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
                {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
            </p>
            {{ Bootstrap.textarea('origin_textarea', 5, 'http://www.1tools.net|888')|raw }}
        </div>
        <div class="col-md-6">
            <p class="text-muted">
                正则匹配结果：
                {{ Bootstrap.iconBtn('copy', {'data-obj':'#result_textarea'})|raw }}
                {{ Bootstrap.iconBtn('remove', {'data-obj':'#result_textarea'})|raw }}
            </p>
            <p>{{ Bootstrap.textarea('result_textarea', 5)|raw }}</p>
        </div>
    </div>
    <div>
        <p class="text-muted">
            替换文本：
            {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
            {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
        </p>
        <p>{{ Bootstrap.textarea('text_textarea', 2, 'test')|raw }}</p>
    </div>
    <div>
        <p class="text-muted">
            替换结果：
            {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
            {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
        </p>
        <p>{{ Bootstrap.textarea('regext_textarea')|raw }}</p>
    </div>

{% endblock %}


{% block script %}
    <script type="text/javascript">
    </script>
{% endblock %}