{% extends "layout.twig" %}

{% block container %}
    <div class="container">
        <div class="row">
            {% for item in menus %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="{{ item['url'] }}" target="_blank">{{ item['name'] }}</a></h3>
                    </div>
                    <div class="panel-body" style="min-height: 160px;">
                        {% if item['sub'] %}
                            {% for _item in item['sub'] %}

                                {#<span class="label label-info" style="display: inline-block;"><a href="{{ _item['url'] }}" target="_blank">{{ _item['name'] }}</a></span>#}
                                <div>
                                    <a href="{{ _item['url'] }}" target="_blank">{{ _item['name'] }}</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <a href="{{ item['url'] }}" target="_blank">{{ item['name'] }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    <hr/>
    <footer id="copyright" class="col-sm-12 col-md-12 text-center">
        <p>{{ site.copyright|raw }} | {{ site.icp|raw }} {#| 联系人：{{ site.contact|raw }}#}{# | 运行时间:{{ runtime }}#}</p>
    </footer>
{% endblock %}