{% extends "layout.twig" %}

{% block container %}
    <div class="container">
        <div class="text-center">
            <h3>本站目录</h3>
            {% for item in menus %}
                <div>
                    <h3><a href="{{ item['url'] }}" target="_blank">{{ item['name'] }}</a></h3>
                    {% for _item in item['sub'] %}
                        <div>
                            <a href="{{ _item['url'] }}" target="_blank">{{ _item['name'] }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    <footer id="copyright" class="col-sm-12 col-md-12 text-center">
        <p>{{ site.copyright|raw }} | {{ site.icp|raw }} | <a href="https://mibiao.app/742821" target="_blank">这是硬广 => APP域名了解一下</a>{#| 联系人：{{ site.contact|raw }}#}{# | 运行时间:{{ runtime }}#}</p>
    </footer>
{% endblock %}