<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ author|default(site.author) }}">
    <meta name="keyword" content="{{ keyword|default(site.keyword) }}">
    <meta name="description" content="{{ description|default(site.description) }}">
    <meta name="baidu-site-verification" content="4hTtFRZbky" />
    <link rel="icon" href="http://img.1tools.net/ico/2tools32.ico">

    <title>{{ title }}</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    {% for css in statics.css %}
        <link href="{{ css }}" rel="stylesheet">
    {% endfor %}
    {% block css %}
        {# 额外添加的css #}
    {% endblock %}
    <script>
        var config = {};
        config.version = "{{ site.version }}";
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?80436984ca8f6751c9c798a987c094d8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base_url() }}">{{ site.title }}<small>Beta</small></a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    {% for item in menus %}
                        {% if item['sub'] %}
                            {% set _attr = 'class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"' %}
                            {% set _caret = '<span class="caret"></span>' %}
                        {% else %}
                            {% set _attr = '' %}
                            {% set _caret = '' %}
                        {% endif %}
                        <li {% if item.name == current_menu[0] %}class="active"{% endif %}>
                            <a href="{{ item.url }}" {{ _attr|raw }}>{{ item.name }}{{ _caret|raw }}</a>
                            {% if _attr%}
                            <ul class="dropdown-menu">
                                {% for child in item['sub'] %}
                                    <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {#<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">留着 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">参考用</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">哈哈</li>
                            <li><a href="#">说不定</a></li>
                            <li><a href="#">用得上</a></li>
                        </ul>
                    </li>#}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">1Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">占位</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">待开发</li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control typeahead" placeholder="快速搜索导航">
                </form>
            </div><!--/.nav-collapse -->

            {#<div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>#}
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        {% if menus[current_menu[0]]['sub'] %}
            {% set _sm = 3 %}
            {% set _md = 2 %}
            {% set left_dis = '' %}
        {% else %}
            {% set _sm = 0 %}
            {% set _md = 0 %}
            {% set left_dis = 'None' %}
        {% endif %}
        {% if _sm > 0 %}
        <div class="col-sm-{{ _sm }} col-md-{{ _md }} sidebar" style="display: {{ left_dis }}">
            {% block leftnavi %}
                <ul class="nav nav-sidebar">
                    {% for item in menus[current_menu[0]]['sub'] %}
                        <li class="{% if item.name == current_menu[1] %}active{% endif %}"><a
                                    href="{{ item.url }}"><b>{{ item.name }}</b></a></li>
                    {% endfor %}
                </ul>
                {#{% if used %}
                <ul class="nav nav-sidebar">
                    <li>最近常用<small>(试用功能)</small></li>
                    {% for item in used %}
                        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}#}
                {#<ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                </ul>#}
            {% endblock %}
        </div>
        {% endif %}
        <div class="col-sm-{{ 12-_sm }} col-sm-offset-{{ _sm }} col-md-{{ 12-_md }} col-md-offset-{{ _md }} main" id="main">
            {% block container %}
                <div class="container-fluid" style="text-align: center;padding:20%"><h1>好像啥也没有。。。</h1></div>
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
    <hr/>
    <footer id="copyright" class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 text-right">
        <p>{{ site.copyright|raw }} | {{ site.icp|raw }} {#| 联系人：{{ site.contact|raw }}#}{# | 运行时间:{{ runtime }}#}</p>
    </footer>
{% endblock %}

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
<script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://cdn.bootcss.com/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
{% for js in statics.js %}
    <script src="{{ js }}"></script>
{% endfor %}

{% block script %}
    {# js代码 #}
{% endblock %}
</body>
</html>
