{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">CSS在线美化压缩</h3>
    <p>
        待处理的CSS代码：
        {{ Bootstrap.iconBtn('copy', {'data-obj':'#origin_textarea'})|raw }}
        {{ Bootstrap.iconBtn('remove', {'data-obj':'#origin_textarea'})|raw }}
    </p>
    <p>{{ Bootstrap.textarea('origin_textarea', 10, test)|raw }}</p>
    <p class="text-center">
        <select class="selectpicker" id="tabsize">
            <option value="1">Tab符缩进</option>
            <option value="2">2个空格缩进</option>
            <option value="4" selected="selected">4个空格缩进</option>
            <option value="8">8个空格缩进</option>
        </select>
        {{ Bootstrap.button({'id':'beautiful-btn', 'data-obj':'#origin_textarea|#result_textarea'}, 'CSS格式化&美化')|raw }}
        {{ Bootstrap.button({'id':'compress-btn', 'data-obj':'#origin_textarea|#result_textarea'}, '压缩CSS')|raw }}
    </p>
    <p>
        处理结果：
        {{ Bootstrap.iconBtn('copy', {'data-obj':'#result_textarea'})|raw }}
    </p>
    <pre class="well code-break" id="result_textarea"></pre>


{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#beautiful-btn').click(function () {
            var obj = $(this).data('obj');
            var arr = obj.split('|');
            var tabsize = parseInt($('#tabsize').val());
            $(arr[1]).text(css_beautify($(arr[0]).val(), {
                "unformatted": ["a", "span", "img", "code", "pre", "sub", "sup", "em", "strong", "b", "i", "u", "strike", "big", "small", "pre", "h1", "h2", "h3", "h4", "h5", "h6"], // List of tags that should not be reformatted
                "indent_size": tabsize, // Indentation size
                "indent_char": tabsize == 1 ? '\t' : ' ', // Indentation character
                "newline_between_rules": true, // Add a new line after every css rule
                "selector_separator": " ",
                "selector_separator_newline": false // Separate selectors with newline or not (e.g. "a,\nbr" or "a, br")
            }));
        });

        $('#compress-btn').click(function () {
            var obj = $(this).data('obj');
            var arr = obj.split('|');
            var val = $(arr[0]).val();
            if (val.length == 0) {
                swal('请输入要处理得数据!');
                return;
            }
            $.post(
                '/api/format',
                {'type':'css', 'action':'compress', 'data':val},
                function (res) {
                    if (res.errCode == 0) {
                        $(arr[1]).text(res.data.result);
                    }else {
                        swal(res.errMsg);
                    }
                },
                'json'
            );
        });
    </script>
{% endblock %}